header {
  background-color: #30A7EB;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
/*  width: 150px;*/
  height: 150px;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

footer {
  background-color: #30A7EB;
  color: #fff;
  padding: 15px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-links li {
  display: inline;
  margin-right: 10px;

}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  
}

.footer-links li a:hover {
  text-decoration: underline;
}

.social-icons img {
  width: 60px;
  height: 60px;
}

p{
  background-position: bottom 50px right 100px;
}

body {
/*    font-family: Arial, sans-serif;*/
    margin: 0;
}

h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #F5CE72;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

